<script src="bird.js"></script>
<link href="bird.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<p>
<div id="answer"></div>
<hr/>
<div id="weatherMsk"></div><br/>
<div id="weatherSpb"></div>
</p>

<button id="ajax" class="weatherStyle">Moscow Weather call</button>
<button id="forecast" class="weatherStyle">St.Petersburg weather forecast</button>


<script>

    function get(url) {
        // Return a new promise.
        return new Promise(function (resolve, reject) {
            // Do the usual XHR stuff
            var req = new XMLHttpRequest();
            req.open('GET', url);

            req.onload = function () {
                // This is called even on 404 etc
                // so check the status
                if (req.status == 200) {
                    // Resolve the promise with the response text
                    resolve(req.response);
                } else {
                    // Otherwise reject with the status text
                    // which will hopefully be a meaningful error
                    reject(Error(req.statusText));
                }
            };

            // Handle network errors
            req.onerror = function () {
                reject(Error("Network Error"));
            };

            // Make the request
            req.send();
        });
    }

    $('#ajax').click(function () {

        get('http://api.weatherapi.com/v1/current.json?key=7882c89eb2eb485192d135950210802&q=moscow')
            .then(function (response) {
                console.log("Success!", response);
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "http://api.weatherapi.com/v1/current.json?key=7882c89eb2eb485192d135950210802&q=moscow",
                    success: function (data) {
                        console.log(data);
                        $("#weatherMsk").html(data.location.country + "<br/>" +
                            data.location.region + "<br/>" + data.location.localtime + "<br/> temperature <b>" +
                            data.current.temp_c + "</b><br/>");
                        $("#weatherMsk").append("<img src='" + data.current.condition.icon + "'/>");
                    }
                });


            }, function (error) {
                console.error("Failed!", error);
            });
    });
</script>


<script type="text/javascript">

    $('#forecast').click(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "http://api.weatherapi.com/v1/forecast.json?key=7882c89eb2eb485192d135950210802&q=Saint-Petersburg&days=10",
            success: function (data) {
                console.log(data);
                $("#weatherSpb").html(data.location.country + "<br/>" + data.location.region + "<br/>" + data.location.localtime + "<br/> temperature <b>" +
                    data.current.temp_c + "</b><br/><br/> Maximum temperature tomorrow <b> " + data.forecast.forecastday[0].day.maxtemp_c +
                    "</b><br/><br/> Minimum temperature tomorrow <b> " + data.forecast.forecastday[0].day.mintemp_c + "</b>");
                $("#weatherSpb").append("<br/><img src='" + data.current.condition.icon + "'/>");
            }
        });
    });

    $(function() {
        $.get('http://numbersapi.com/random/year', function(data) {
            $('#numberYear').text(data);
        });
    });

    $(function() {
        $.get('http://numbersapi.com/random/date', function(data) {
            $('#numberDate').text(data);
        });
    });


</script>

<button onClick='getJson()'>JSON</button>
<div id='text'></div>
<button onClick='yourName()' class="but">Your name?</button>
<div id="demo"></div>
<br/>


<img id="duck" src="https://thumbs.gfycat.com/IndolentFearlessGazelle-size_restricted.gif"/><br/><br/>
<button onClick='duck.fly("duck", 500, "away")'>duck fly away</button>
<button onClick='duck.fly("duck", 0, "back")'>duck fly back</button>
<button onClick='duck.swim()'>Swim</button>
<br/>
<button onClick='newDuck()' class="but">new duck</button>
<button onClick='duckFly()' class="but">ducks fly</button>
<div id='ducks'></div>

<br/><br/>

<img id="peacock" src="https://i.gifer.com/7pO3.gif"/><br/><br/>
<button onClick='peacock.fly("peacock", 150, "away")'>peacock fly away</button>
<button onClick='peacock.fly("peacock", 0, "back")'>peacock fly back</button>
<button onClick='peacock.showTail()'>Show tail</button>
<button onClick='peacock.hideTail()'>Hide tail</button>
<br/>
<button onClick='newPeacock()' class="but">new peacock</button>
<button onClick='peacockFly()' class="but">peacocks fly</button>
<div id='peacocks'></div>
<br/><br/>

<img id="dove" src="https://i.pinimg.com/originals/d2/14/d7/d214d7925b31b295293a7a7f7b7cfd0d.gif"/><br/><br/>
<button onClick='dove.fly("dove", 800, "away")'>dove fly away</button>
<button onClick='dove.fly("dove", 0, "back")'>dove fly back</button>
<button onClick='dove.seat()'>Seat</button>
<br/>
<button onClick='newDove()' class="but">new dove</button>
<button onClick='doveFly()' class="but">doves fly</button>
<div id='doves'></div>

<br/>Fact about random year: <span id="numberYear"></span><br/>
<br/>Fact about random date: <span id="numberDate"></span><br/>
