    img {
        height: 250px;
    }
    
    button {
        height: 30px;
        margin: 4px;
        background-color: white;
        border: gray 2px dotted;
        }
    
    .but {
            background-color: greenyellow;
            }

    .weatherStyle {
        background-color: lightskyblue;
    }

    span {
        border-bottom: 1px solid navy;
    }
